@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --primary-color: #7C3AED;
    --dark-gray: #6B7280;
    --off-white: #F3F4F6;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary-color);
    color: var(--off-white);
}

#heading, #description {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    width: 60vw;
    margin: auto;
}

label {
    margin-left: auto;
    margin-right: auto;
}

input {
    margin: 1rem;
    padding: 0.5rem;
    width: 60%;
    margin-left: auto;
    margin-right: auto; 
}

#btn-check {
    width: 30%;
    margin: auto;
    border: 0.1rem solid var(--dark-gray);
    padding: 0.5rem;
    margin-bottom: 1rem;
}

#caption-message {
    margin: auto;
}

#error-msg {
    text-align: center;
}